DEBUG = True

SITE_URL = 'https://dark-chess.com'

# custom dark-chess server config
HOST = '0.0.0.0'
PORT = 38599

# custom cache config
CACHE_HOST = 'localhost'
CACHE_PORT = 6379
CACHE_DB = 0

# custom websocket config
WS_HOST = '0.0.0.0'
WS_PORT = 9998
WS_CHANNEL = 'ws-channel'
WS_DB = 1

# custom email config
MAIL_SERVER = 'localhost'
MAIL_PORT = 1025
DEFAULT_MAIL_SENDER = 'info@dark-chess'

# custom celery config
CELERY_BROKER_URL = 'redis://localhost:6379/1'
CELERY_RESULT_BACKEND = 'redis://localhost:6379/1'
