DEBUG = True

SITE_URL = 'https://dark-chess.com'

# custom dark-chess server config
HOST = '0.0.0.0'
PORT = 38599

# custom cache config
CACHE_HOST = 'localhost'
CACHE_PORT = 6379
CACHE_DB = 0

# custom websocket config
WS_BROKER_HOST = CACHE_HOST
WS_BROKER_PORT = CACHE_PORT
WS_BROKER_CHANNEL = 'dc.ws'
WS_BROKER_DB = 1

# custom smtp config
SMTP_BROKER_HOST = CACHE_HOST
SMTP_BROKER_PORT = CACHE_PORT
SMTP_BROKER_CHANNEL = 'dc.stmp'
SMTP_BROKER_DB = 1

# custom email config
MAIL_SERVER = 'localhost'
MAIL_PORT = 1025
DEFAULT_MAIL_SENDER = 'info@dark-chess'
